@font-face {
  font-family: 'Koh Santepheap';
  src: url('../assets//fonts/KohSantepheap-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Kiwi Maru';
  src: url('../assets//fonts/Kiwi Maru.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam';
  src: url('../assets//fonts/Kalam.ttf') format('truetype');
}
